@{
    ViewBag.Title = "Social Media Contacts:";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    <div class="col-md-2">
        <strong><font size="4">Instagram: </font></strong><font size="6"><a href="https://www.instagram.com/kountryclubkennels/" class="fa fa-instagram"></a></font></a><br />
    </div>
    <div class="col-md-2">
        <strong><font size="4">Facebook: </font></strong><font size="6"><a href="https://www.facebook.com/groups/177211563516381" class="fa fa-facebook"></font></a></a>
    </div>
</div>
