@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>KountryClubKennels</h1>
    <p class="lead">
        This is by far the best Dog Kennel you will ever come across
        in Metro Atlanta. You're not gonna want to miss all these great dogs we have
        in store for you. Thank you for your business, and have a blessed day.
    </p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/Photos/KountryClubKennelsLogo.jpg" width="150" />
    </div>
    <div class="col-md-4">
        <img src="~/Photos/KountryClubKennelsLogo.jpg" width="150" />
    </div>
    <div class="col-md-4">
        <img src="~/Photos/KountryClubKennelsLogo.jpg" width="150" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Check Out Our Dogs</h2>
        <p>
            Jump right in and get a list of all our Dogs that we have available at the moment.
        </p>
        <p><a class="btn btn-default" href="/Dogs/Index">Let the Dogs Out! &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>"How to become a Kennel Operator" Master class </h2>
        <p>Do you really think you think you have what it takes? Take our Master class on Kennel Operation to run your own Kennel like a BIG DAWG!!!</p>
        <p><a class="btn btn-default" href="https://bizfluent.com/how-5076517-operate-boarding-kennel.html">Learn more &raquo;</a></p>
    </div>
    <!--<div class="col-md-4">
        <img src="~/Photos/KountryClubKennelsLogo.jpg" width="200" />
    </div>-->
</div>